.root {
    color: white;
}

.brahmali {
    color: lightcyan
}

.patton {
    color: orange;
}

.soma {
    color: lightcoral;
}

.suddhaso {
    color: lightpink;
}

.sujato {
    color : greenyellow;

}

.bodhi {
    color : lightblue;
}

.kelly {
    color: lightsteelblue;
}

.kovilo {
    color : lightsalmon;
}

.anandajoti {
    color : lightgoldenrodyellow;
}

.sabbamitta {
    color : lightcyan;
}

.maggatr {
    color : lightyellow;
}

.ashinsarana {
    color : cornsilk;
}

.mudito {
    color : honeydew;
}

.sekha {
    color : navajowhite;
}

.trush {
    color : lemonchiffon;
}

.seniya {
    color : aliceblue;
}

.kaz {
    color : aquamarine;
}

.jayasaro {
    color : floralwhite;
}

.piyadassi {
    color: lightgreen;

}

.hardao {
    color : khaki;
}
.lucjan {
    color : mediumspringgreen;
}
.marcinow {
    color : powderblue;
}
.laera-quaresma {
    color : oldlace;
}
.sv {
    color : springgreen;
}
.syrkin {
    color : seashell;
}
.narinyanievmenenko {
    color : skyblue;
}
.brankokovacevic {
    color : paleturquoise;
}
.phantuananh {
    color: blanchedalmond;
}

