:root {
    --pico-font-family: 'Montserrat', regular;
    --pico-font-size: 1rem;
}


header, footer, .container {
    background-color: transparent;
}

.large-paragraph {
    font-size: 1.5em;
    font-weight: bold;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.big-bold {
  font-size: 1.5em;
  font-weight: bold;
}

.theme-toggle {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
  background-color: transparent;
  /*color: var(--pico-primary-inverse);*/
  border: none;
}

.light-icon { display: none; }
.dark-icon { display: block; }
[data-theme="dark"] .light-icon { display: block; }
[data-theme="dark"] .dark-icon { display: none; }