.pali {
    color: lightblue;
}

.andajoti {
    color: lightgreen;
}

.brahmali {
    color: #00FF00;
}

.patton {
    color: #FFFF00;
}

.soma {
    color: #FF00FF;
}

.suddhaso {
    color: red;
}

.sujato {
    color: white;
}

.benlawraus {
    color : grey;
}
